#eq{
    height: 145px;
    background-color: orange;
}
.display{
    justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: #2639f7;
  font-size: 2em;
  padding: 20px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 240px;
  height: 35px;
  margin: 0 auto;
}

.cal{
    padding: 8px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: whitesmoke;
    margin: 0;
}
.btn{
    height: 70px;
    width: 65px;
    /* gap: 8px; */
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    transition: box-shadow 0.3s ease;
}
.btn:hover {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

table{
    border: none;
    border-spacing: 5px;
}
#zero{
    width: 135px;
}
#clear{
    width: 135px;
    background-color: orange;
}
/* 
button{
    border: none; 
} */

.all{
    border: solid 1px;
    /* padding: 9px; */
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: gray 2px 1px 2px 3px;
}